<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing a product [[${product.title}]]</title>
</head>
<body>
<h1>Editing a product</h1>
<div data-th-if="${errors}">
    <h2>Mistakes were made</h2>
    <ul>
        <li data-th-each="error:${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<a data-th-href="@{/catalogue/products/{productId}(productId=${product.id})}">To the product</a>
<form method="post" data-th-action="@{/catalogue/products/{productId}/edit(productId=${product.id})}">
    <label>
        Title:<br>
        <input type="text" name="title" data-th-value="${product.title}"><br>
    </label>
    <label>
        Details:<br>
        <textarea name="details" data-th-text="${product.details}"></textarea>
    </label>
    <button type="submit">Edit</button>
</form>
</body>
</html>